<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>This is Data coming from quickbase!!!</h1>
  <% for(var i=0; i< data.length; i++) {%>
    <p><%= data[i].f._ %></p>
  <% } %>
    <p></p>
  </body>
</html>
